@import "reset";
//--------------------------------
// Navbar
//--------------------------------
nav,
footer {
  background-color: #004dda;
  color: white;

  .nav {
    margin: 0 auto;
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .nav-logo {
      display: flex;
      align-items: center;
      img {
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
      }
      a {
        color: white;
        font-size: 2rem;
      }
    }
    .navbar {
      height: 100%;
      ul {
        list-style: none;
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        height: 100%;
        li {
          height: 100%;
          // padding: 2rem 1rem;
          box-sizing: border-box;
          display: inline-block;
          // height: 2rem;
          position: relative;
          a {
            height: 100%;
            color: white;
          }
          .navbar-home-hover {
            position: absolute;
            display: none;
            bottom: -22rem;
            left: 0;
            ul {
              margin: 1rem 3rem 1rem 0;
              width: 18rem;
              display: flex;
              flex-direction: column;
              background-color: white;
              li {
                margin-bottom: 1rem;
                a {
                  color: grey;
                }
              }
              & :hover {
                background-color: grey;
              }
            }
          }
        }
      }
    }
    .nav-contact {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
  }
}
// End Navbar
//--------------------------------
// Header
//--------------------------------
header {
  padding: 2rem;
  .header {
    margin: 0 auto;
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
    }
    .header-category {
      i {
        margin-right: 1rem;
      }
    }
    .header-input {
      input {
        width: 30rem;
        height: 3rem;
        border: none;
        background-color: rgb(239, 239, 239);
        border-radius: 0.5rem;
        padding-left: 1rem;
      }
    }
    .header-icons {
      position: relative;
      i {
        margin-right: 1rem;
      }
      .header-icons-count {
        color: white;
        background-color: blue;
        border-radius: 50%;
        font-size: 0.9rem;
        padding: 0rem 0.3rem;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}
// End Header
//--------------------------------
// Collection Select
//--------------------------------
.collectionSelect {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1220px;
  .collectionSelect-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 12rem;
    border: 0.5rem solid black;
    span {
      margin-bottom: 2rem;
    }
  }
}
// End Collection Select
//--------------------------------
// Top Selling
//--------------------------------
.topSelling {
  margin: 4rem auto;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .topSelling-header {
    margin-bottom: 2rem;
  }
  .topSelling-product {
    display: grid;
    grid-template-columns: auto auto auto auto;
    .topSelling-product-card {
      margin: 1rem;
      .topSelling-product-card-header {
        img {
          width: 100%;
        }
      }
    }
  }
}
// End Top Selling
//--------------------------------
// Footer
//--------------------------------
.footer {
  margin: 1rem auto;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  .footer-header {
    .footer-header-nav {
      display: flex;
      justify-content: space-between;
      ul {
        list-style: none;
      }
    }
  }
  .footer-footer {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
    }
  }
}
// End Footer

.navbar-home {
  background: red;
}
.navbar-home :hover {
  background: green;
  //display: inline;
}
// .navbar :hover {
//   background: green;
//   //display: inline;
// }
