html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

nav,
footer {
  background-color: #004dda;
  color: white;
}

nav .nav,
footer .nav {
  margin: 0 auto;
  max-width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

nav .nav .nav-logo,
footer .nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav .nav-logo img,
footer .nav .nav-logo img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

nav .nav .nav-logo a,
footer .nav .nav-logo a {
  color: white;
  font-size: 2rem;
}

nav .nav .navbar,
footer .nav .navbar {
  height: 100%;
}

nav .nav .navbar ul,
footer .nav .navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  height: 100%;
}

nav .nav .navbar ul li,
footer .nav .navbar ul li {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: relative;
}

nav .nav .navbar ul li a,
footer .nav .navbar ul li a {
  height: 100%;
  color: white;
}

nav .nav .navbar ul li .navbar-home-hover,
footer .nav .navbar ul li .navbar-home-hover {
  position: absolute;
  display: none;
  bottom: -22rem;
  left: 0;
}

nav .nav .navbar ul li .navbar-home-hover ul,
footer .nav .navbar ul li .navbar-home-hover ul {
  margin: 1rem 3rem 1rem 0;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

nav .nav .navbar ul li .navbar-home-hover ul li,
footer .nav .navbar ul li .navbar-home-hover ul li {
  margin-bottom: 1rem;
}

nav .nav .navbar ul li .navbar-home-hover ul li a,
footer .nav .navbar ul li .navbar-home-hover ul li a {
  color: grey;
}

nav .nav .navbar ul li .navbar-home-hover ul :hover,
footer .nav .navbar ul li .navbar-home-hover ul :hover {
  background-color: grey;
}

nav .nav .nav-contact,
footer .nav .nav-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  padding: 2rem;
}

header .header {
  margin: 0 auto;
  max-width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .header-category i {
  margin-right: 1rem;
}

header .header .header-input input {
  width: 30rem;
  height: 3rem;
  border: none;
  background-color: #efefef;
  border-radius: 0.5rem;
  padding-left: 1rem;
}

header .header .header-icons {
  position: relative;
}

header .header .header-icons i {
  margin-right: 1rem;
}

header .header .header-icons .header-icons-count {
  color: white;
  background-color: blue;
  border-radius: 50%;
  font-size: 0.9rem;
  padding: 0rem 0.3rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.collectionSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1220px;
}

.collectionSelect .collectionSelect-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 12rem;
  border: 0.5rem solid black;
}

.collectionSelect .collectionSelect-card span {
  margin-bottom: 2rem;
}

.topSelling {
  margin: 4rem auto;
  max-width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.topSelling .topSelling-header {
  margin-bottom: 2rem;
}

.topSelling .topSelling-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.topSelling .topSelling-product .topSelling-product-card {
  margin: 1rem;
}

.topSelling .topSelling-product .topSelling-product-card .topSelling-product-card-header img {
  width: 100%;
}

.footer {
  margin: 1rem auto;
  max-width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-header .footer-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-header .footer-header-nav ul {
  list-style: none;
}

.footer .footer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-home {
  background: red;
}

.navbar-home :hover {
  background: green;
}
