@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&family=Open+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}
p {
  margin: 1rem 0;
}
img {
  width: 100%;
}
.text-center {
  text-align: center;
}
