@import "reset";
@import "colors";
@import "buttons";

.main-header{
    padding: 2rem 3rem;
    background-color: $dark;
   
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            color: $white;
            span{
                color: $warning;
            }
        }
        nav{
            
            ul{
                display: flex;
                
                li{
                    list-style: none;
                    padding-left: 2rem;
                    a{
                        color: $white;
                        &:hover{
                            border-bottom: 0.2rem solid $warning;
                        }
                    }
                }
            }
        }
        
    }
}